@model WordRepositoryViewModel

@{
    ViewData["Title"] = "ReadDictionary";
}

<h2>ReadDictionary</h2>


@foreach (string s in Model.Words)
{
    @Html.ActionLink(s, "Index", "Home", new { id = s }) <span>&nbsp;&nbsp;&nbsp;</span> @Html.ActionLink("Edit", "EditWord", "Home", new { originalWord = s}) 
    <br />
}
<br />
@if (Model.PageNumber > 0)
{
    @Html.ActionLink("Previous Page", "ReadDictionary", "WordRepository", new { page = Model.PageNumber - 1 })
}
&nbsp;
@(ViewBag.Page + 1)
&nbsp;
@Html.ActionLink("Next Page", "ReadDictionary", "WordRepository", new { page = Model.PageNumber + 1 })
